<div id="overview" class="container">
    <div class="row section-header">
        <h1 data-aos="fade-down" data-aos-duration="1000" class="section-label display-4">TỔNG QUAN DỰ ÁN</h1>
    </div>
    <div id="overview-content-container">
        <div data-aos="fade-left" data-aos-duration="1000" id="overview-content" class="container-fluid">
            {% if projectData.getProjectName() != "" %}
                <div class="row">
                    <div class="col-5">
                        <p class="italic small-text">{{ labelData.projectName }}</p>
                    </div>
                    <div class="col-7">
                        <p><em><strong>{{ projectData.getProjectName() }}</strong></em></p>
                    </div>
                </div>
            {% endif %}

            {% if projectData.getOwner() != "" %}
                <div class="row">
                    <div class="col-5">
                        <p class="italic small-text">{{ labelData.owner }}</p>
                    </div>
                    <div class="col-7">{{ projectData.getOwner() }}</div>
                </div>
            {% endif %}

            {% if projectData.getAddress() != "" %}
                <div class="row">
                    <div class="col-5">
                        <p class="italic small-text">{{ labelData.address }}</p>
                    </div>
                    <div class="col-7">
                        {{ projectData.getAddress() }}
                    </div>
                </div>
            {% endif %}

            {% if projectData.getScale().getTotalArea() != "" %}
                <div class="row">
                    <div class="col-5">
                        <p class="italic small-text">{{ labelData.totalArea }}</p>
                    </div>
                    <div class="col-7">
                        {{ projectData.getScale().getTotalArea() }} m2
                    </div>
                </div>
            {% endif %}

            {% if projectData.getArchitectureType() != "" %}
                <div class="row">
                    <div class="col-5">
                        <p class="italic small-text">{{ labelData.architectureType }}</p>
                    </div>
                    <div class="col-7">
                        {{ projectData.getArchitectureType() }}
                    </div>
                </div>
            {% endif %}

            {% if projectData.getDeployExpectation() != "" %}
                <div class="row">
                    <div class="col-5">
                        <p class="italic small-text">{{ labelData.deployExpectation }}</p>
                    </div>
                    <div class="col-7">
                        {{ projectData.getDeployExpectation() }}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col">
                    <a href="#">Chi tiết >>></a>
                </div>
            </div>
        </div>

        <div data-aos="fade-right" data-aos-duration="1000" id="overview-image" class="">
            <div id="overview-image-content">
                <img class="img-thumbnail overview-img" src="{{ asset('images/space.jpg') }}"/>
            </div>
        </div>
    </div>
</div>

