<div class="row probootstrap-gutter60 mb50">
    <div class="col-md-12 probootstrap-relative">
        <h2 class="probootstrap-heading mt0 mb50">Đối tác của chúng tôi</h2>
        <ul class="probootstrap-owl-navigation absolute right">
            <li><a href="#" class="probootstrap-owl-prev"><i class="icon-chevron-left"></i></a></li>
            <li><a href="#" class="probootstrap-owl-next"><i class="icon-chevron-right"></i></a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 probootstrap-relative">
            <div class="owl-carousel owl-carousel-carousel">
                <div class="item">
                    <div {#class="probootstrap-program"#}>
                        <img class="parter-logo" src="{{ asset('img/bidv.jpg') }}">
                    </div>
                </div>
                <div class="item">
                    <div class="probootstrap-program">
                        <img class="parter-logo" src="{{ asset('img/minhhung.jpg') }}">
                    </div>
                </div>
                <div class="item">
                    <div class="probootstrap-program">
                        <img class="parter-logo" src="{{ asset('img/nha-thau-xd.jpg') }}">
                    </div>

                </div>
                <div class="item">
                    <div class="probootstrap-program">
                        <img  src="{{ asset('img/moc-decor.jpg') }}">
                    </div>
                </div>
                <div class="item">
                    <div class="probootstrap-program">
                        <img class="parter-logo" src="{{ asset('img/rolling-ant.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
