<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/general.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/menu.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/header.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/slide.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/overview.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/facilities.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/footer.css') }}"/>
            <link rel="stylesheet"
                  href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
                  integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
                  crossorigin="anonymous">
            <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>

        {% set projectData= projectConverter.convert() %}
        {% set contactData= contactConverter.convert() %}

        {% include('header.html.twig') %}

        {% block main %} {% endblock %}

        {% include('footer.html.twig') %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap/bootstrap.bundle.js') }}"></script>
            <script src="{{ asset('js/bootstrap/bootstrap.js') }}"></script>
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script>
                AOS.init();
            </script>
        {% endblock %}
    </body>
</html>
